@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Gordita Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Regular'),
    url('./fonts/Gordita Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Regular Italic'),
    url('./fonts/Gordita Regular Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Thin'), url('./fonts/Gordita Thin.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Thin Italic'),
    url('./fonts/Gordita Thin Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Light'), url('./fonts/Gordita Light.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Light Italic'),
    url('./fonts/Gordita Light Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Medium'),
    url('./fonts/Gordita Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Medium Italic'),
    url('./fonts/Gordita Medium Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Bold'), url('./fonts/Gordita Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Bold Italic'),
    url('./fonts/Gordita Bold Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Black';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Black'), url('./fonts/Gordita Black.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Black Italic'),
    url('./fonts/Gordita Black Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Ultra';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Ultra'), url('./fonts/Gordita Ultra.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Ultra Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Ultra Italic'),
    url('./fonts/Gordita Ultra Italic.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply block rounded-full px-6 py-2 transition ease-in-out;
  }
  .btn-primary {
    @apply bg-primary-300 text-primary-700 hover:bg-white focus:outline-none focus:ring-4 focus:ring-primary-300 focus:ring-opacity-50;
  }
  .link {
    @apply px-2 py-1 transition;
  }
  .link-white {
    @apply hover:text-primary-300;
  }
  .link-green {
    @apply hover:text-white;
  }
}
